// This uses SASS/SCSS which allows for nesting inside of CSS files.
$brookdale-red: #ac1f2d;

::-webkit-scrollbar { 
    display: none; 
}

.header-bar {
    background-color: rgb(50,50,50);
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px black;
    
}

.text {
    color: white;
    top: 20px;
    bottom: 20px;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    transition: 1s ease-in-out;
}

.links {
    
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    a {
        text-decoration: none;
        font-weight: bold;
        list-style-type: none;
        text-align: center;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;

        &:hover {
            color: $brookdale-red;
            transition: .3s ease-in;
            &::after {
                content: "";
                color: $brookdale-red;
                width: 100%;
                height: 4px;
                background: $brookdale-red;
                position: absolute;
                bottom: -4px;
                left: 20px
            }
        }

        &.active {
            color: $brookdale-red;
        }
    }
    
    transition: .3s ease-in-out;
}